body{
	background-color:#98dafc;
	font-family: 'Amaranth', sans-serif;
	margin : 0px;
	padding : 0px;
	
	

}
.container{
	padding : 0px;
	margin-bottom: 0px;
	width : 100%;
	height : 660px;
	overflow : auto;


	

	
}

.page-header{


	border : 1px solid #62bcfa;
	padding : 5px;
	margin : 100px 10px 10px 2px ;
	background-color :#9068be;
	box-shadow :10px 10px 5px #9068be;;
	color : #ffffff;
	width : 75%;
	/*clear : both;*/
	position : static;

}

.container .links-section {

	width : 100%;
	margin : 80px 0px 0px 0px;
	margin-right : 0px;
	padding : 10px;
	height : 100%;
	overflow : auto;

}
a{
	text-decoration: none;
	color : #ffffff;
}
.link{

	background-color : #e62739;
	border : 1px solid #62bcfa;
	box-shadow : 5px 5px 2px  #e62739;
	width : 50%;
	height : 60px;
	float : right;
	clear : both;
	font-weight :bold;
	font-size : 1.25em;
	text-align : center;
	padding : 10px;
	margin : 10px 0px 0px 0px;

}
.link:hover, .link:focus{
	color : #e62739; 
	background-color :  #ffffff;


}

.footer-section{
	
	text-align : center;
	background : #22264b;
	width : 100%;
	clear : both;
	margin-top : 10px;
	margin-bottom : 0px;
	color : #ffffff;
	padding : 5px;
	font-size : 1em;

	opacity : 0.9;
	


}


/*********** meadia queries *************/
@media (max-width: 768px){

	.page-header h1{
		font-size : 1.25em;
	}
	.link{
		width : 50%;
		font-size : 1em;
		height : 40px;
		padding : 2px;


	}

}

@media (min-width: 768px){

	.page-header h1{
		font-size : 1.50em;
	}
}
@media (min-width: 992px){

	.page-header h1{
		font-size : 1.75em;
		}	
}
@media (min-width: 1200px){

		
		.page-header h1{
			font-size : 2em;
		}
}	